@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


.results-component{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  width: 700px;
  margin: 100px auto;
  
  font-family: 'Hanken Grotesk', sans-serif;

}
.result{
  background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%,hsl(252, 100%, 67%) 100%);
  text-align: center;
  padding: 45px;
  border-radius: 25px;
  font-size: 18px;
  color: hsl(241, 100%, 89%);


  &__title{
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 190px;
    margin: 0 auto 30px auto;
    
  }
  &__your-score{
    font-size: 60px;
    font-weight: 800;
    color: #fff;
  }
  &__total{

  }
  &__value{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;

  }
  &__info{

  }
}